div.post-page div.postImg{
    max-height: 600px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
div.post-page div.postImg img{
    object-fit: cover;
    object-position: center center;
    
}
.post-page{
    margin: 0px 20px;
    padding: 20px;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page div.content p{
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
}
@media  only screen and (min-width:700px) {
    .post-page{
        margin: 0px 200px;
        padding: 40px;
    }
}