.coursetile{
   height: 80vh;
   border: solid black;
}

.coursetile h1 {
    font-family: 'Montserrat', sans-serif;
    color:#157347 ;
   font-weight: bolder;
    padding-top: 7%;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 5%;
}
