

.navbar-heading{
    width: 50%;
    color: white;
    text-decoration: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-heading a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar-heading a:hover{
    color: #068932;
}


.navbar {
    background-color: black;
    height: 10vh;
   
}

.navright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-bottom: 0;
    list-style: none;
}

.navbar-element a {
    color: white;
    text-decoration: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar-element a:hover{
    color: #068932;
}
